{% extends "admin/base.html" %}
{% load i18n %}

{% block title %} Vision Trail | Admin {% endblock %}

{% block extrahead %}
<link rel="icon" href="{{ STATIC_URL }}vision/img/logo_50.png" />
{% endblock %}

{% block branding %}
<h1 id="site-name">视觉测试</h1>
{% endblock %}

{% block userlinks %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
    {% endif %}
    
    {% if user.is_superuser and user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
    {% endif %}
    
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}
  {% if not is_popup %}
  <div id="footer" class="footer">
    <div class="content">
      <div class="tools">
        {% block footer_links %}
          <a href="/admin/vision" target="_blank" class="icon">
              <i class="icon-bookmark"></i>设置参数</a>
        {% endblock %}
      </div>

      <div class="copyright">
        {% block copyright %}
          Copyright &copy; 2015 视觉测试
        {% endblock %}
      </div>

    </div>
  </div>
  {% endif %}
{% endblock %}
