{% extends "admin/base.html" %}
{% load i18n %}
{% block title %} Vision Trial | Admin {% endblock %}

{% block extrahead %}
<link rel="icon" href="{{ STATIC_URL }}vision/img/logo_vt_50.jpeg" />

<style type="text/css">
.prompt-text {
    font-size: 11px;
    color:     #999999;
}
</style>

<script type="text/javascript" src="{{STATIC_URL}}vision/js/verify.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}vision/js/jquery.cookie.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $("#demo_scheme").change(function(){
        var demo_schemo = $("#demo_scheme").val();
        if(demo_schemo == 'S') { //静态
            $("#move_type").hide();
            $("#velocity_div").hide();
            $("#wp_scheme_div").hide();
        } else {//动态
            $("#move_type").show();
            $("#velocity_div").show();
            $("#wp_scheme_div").show();
        }
    }); //end change()
});
</script>

{% block extjs %}{% endblock %}
{% block extcss %}{% endblock %}

{% endblock %}

{% block branding %}
<h1 id="site-name">视觉测试</h1>
{% endblock %}

{% block userlinks %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
    {% endif %}
    
    {% if user.is_superuser and user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
    {% endif %}
    
{% endblock %}

{% block header_time %} {% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}
  {% if not is_popup %}
  <div id="footer" class="footer">
    <div class="content">
      <div class="tools">
        {% block footer_links %}
          <a href="/admin/vision" target="_blank" class="icon">
              <i class="icon-bookmark"></i>参数设置</a>
        {% endblock %}
      </div>

      <div class="copyright">
        {% block copyright %}
          Copyright &copy; 2015 视觉测试
        {% endblock %}
      </div>

    </div>
  </div>
  {% endif %}
{% endblock %}
