{% extends "admin/base_site.html" %}

{% block extrahead %}
<style type="text/css">
input.road_style_h1 { /* 水平方向路名A,B,C */
    width: 120px; height: 30px;
    background-color: #D3E9FF;
}
input.road_style_h2 { /* 水平方向路名D,E,F */
    margin-left: 80px; width: 120px; height: 30px;
    background-color: #D3E9FF;
}

input.road_style_v1 { /* 垂直方向路名G */
    margin-left: 100px; width: 120px; height: 30px;
    background-color: #D3E9FF;
}
input.road_style_v2 { /* 垂直方向路名H */
    margin-left: 100px; margin-bottom: 10px; width: 120px; height: 30px;
    background-color: #D3E9FF;
}

</style>

<script type="text/javascript" src="{{STATIC_URL}}vision/js/verify.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}vision/js/jquery.cookie.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $("#demo_scheme").change(function(){
        var demo_schemo = $("#demo_scheme").val();
        if(demo_schemo == 'S') { //静态
            $("#move_type").hide();
        } else {//动态
            $("#move_type").show();
        }
    }); //end change()
  
    
});
function checkMark(m) {
    var rm = m.toUpperCase();
    if($("#mark_"+m).attr("checked") == "checked") { //已选中时再点击
        $("#"+m+"_pressed").css("background-color","#D3E9FF");
        $("#"+m+"_pressed").val(m.toUpperCase());
        $("#mark_"+m).attr("checked", false);
        $("#"+m+"_as_target").attr("checked", false);  //
    } else {  //未选中时点击
        $("#"+m+"_pressed").css("background-color","#1F90F2");
        $("#mark_"+m).attr("checked", 'checked');
        $("#"+m+"_as_target").attr("checked", 'checked');
    }
}

function saveParams() {
    var board_type = $('#board_type').val();
    var demo_scheme = $('#demo_scheme').val();
    var step_scheme = $('#step_scheme').val();
    var move_type = $("input[name='move_type']:checked").val();
    var road_num = $('#road_num').val();
    
    //var target_road = $('#target_road').val();
    var eccent = $('#eccent').val();
    var init_angle = $('#init_angle').val();
    var road_size = $('#road_size').val();
    var board_size = $('#board_size').val();
    
    var marks = new Array('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h');
    var road_marks = '';
    var target_seats = '';
    for(i in marks) {
        if($("#mark_"+marks[i]).attr("checked") == "checked") {
            road_marks += marks[i].toUpperCase()+',';    
        }
        if($("#"+marks[i]+"_as_target").attr("checked") == "checked") {
            target_seats += marks[i].toUpperCase()+',';
        }
    }
    
    if(isNull(road_marks)) {
        $("#set_result").css('color', 'red');
        $("#set_result").html('');
        $("#set_result").append('没有设置路名位置');
        return;
    }
    
    $.ajax({
        url:     '/admin/vision/set_params',
        type:    "POST",
        dataType:"json",
        data:      {"board_type":   board_type, 
                    "demo_scheme":  demo_scheme, 
                    "step_scheme":  step_scheme, 
                    "move_type":    move_type, 
                    "road_num":     road_num,
                    "road_marks":   road_marks,
                    "target_seats": target_seats,
                    "eccent":       eccent,
                    "init_angle":   init_angle,
                    "road_size":    road_size,
                    "board_size":   board_size, 
        }, 
                    
        success: function(res){
            console.log(res);
            setResult(res);
        },
        error:  function(e){
            alert("提交异常")
        },
        beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFTOKEN", $.cookie('csrftoken'));
        },
        complete:   function(){},
    });
}

function setResult(res) {
    if(res.code == 1) {
        $("#set_result").css('color', '#009900');
        $("#set_result").html('');
        //$("#set_result").append('参数设置成功');
        window.location.href="/admin/vision/trialparam/";  //跳转到列表页面  
    } else {
        $("#set_result").css('color', 'red');
        $("#set_result").html('');
        $("#set_result").append(res.msg);
    }
    
}
</script>
{% endblock %}

<!-- CONTENT -->
{% block content %}
<div class="tab-content tab-content-main">
    
<form id="params_form" method="post" action="##" class="form-horizontal">    
{% csrf_token %}        

<!--路牌选择-->
<div class="control-group form-row"><div>
    <div class="control-label">
        <label class="required">路牌选择:</label></div>
    <div class="controls">
        <select id="board_type" name="board_type">
            <option value="S" selected="selected">单路牌</option>
            <option value="M">多路牌</option>
        </select></div>
</div></div>

<!--实验模式-->
<div class="control-group form-row"><div>
    <div class="control-label">
        <label class="required">实验模式:</label></div>
    <div class="controls">
        <select id="demo_scheme" name="demo_scheme">
            <option value="S" selected="selected">静态</option>
            <option value="D">动态</option>
        </select>&nbsp;&nbsp;
            <div id="move_type" style="display: none;">
            <input name="move_type" type="radio" checked="checked" value="C" />圆周 &nbsp;&nbsp;<!--Circle圆周-->
            <input name="move_type" type="radio" value="S" />平滑 &nbsp;&nbsp;<!--smooth平滑-->
            <input name="move_type" type="radio" value="M" />混合 &nbsp;&nbsp;<!--Mixed混合-->
            <input name="move_type" type="radio" value="O" />MOT &nbsp;&nbsp;<!--MOT-->
            </div>
    </div>
</div></div>

<!--阶梯过程-->
<div class="control-group form-row"><div>
    <div class="control-label">
        <label class="required">阶梯过程:</label></div>
    <div class="controls">
        <select id="step_scheme" name="step_scheme">
            <option value="R" selected="selected">关键间距</option>
            <option value="S">尺寸阈值</option>
            <option value="N">数量阈值</option>
            <option value="V">动态敏感度</option>
        </select>
    </div>
</div></div>

<!--路牌大小-->
<div class="control-group form-row"><div>
    <div class="control-label"><label>路牌尺寸:</label></div>
    <div class="controls">
        <select id="board_size" name="board_size">
            <option value="140,100" selected="selected">140*100</option>
            <option value="280,200" selected="selected">280*200</option>
            <option value="420,300">420*300</option>
       </select>            
    </div>
</div></div> 

<!--路名尺寸-->
<div class="control-group form-row"><div>
    <div class="control-label"><label>路名尺寸:</label></div>
    <div class="controls">
        <select id="road_size" name="road_size">
            <option value="11">11</option>
            <option value="15" selected="selected">15</option>
            <option value="20">20</option>        
        </select>
    </div>
</div></div> 

<!--路名数量-->
<div class="control-group form-row"><div>
    <div class="control-label"><label>路名数量:</label></div>
    <div class="controls">
        <select id="road_num" name="road_num">
            <option value="2" selected="selected">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
    </div>
</div></div>
    
<!--路名位置设置-->    
<div class="control-group form-row"><div>
    <div class="control-label"><label>路名位置:<br />(勾选后作为目标项)</label></div>
    <div class="controls">
        <input onclick="checkMark('g');" type="button" value="G" id="g_pressed" class="road_style_v1" />
        <input id="g_as_target" name="g_as_target" type="checkbox"><br />
        
        <input onclick="checkMark('h');" type="button" value="H" id="h_pressed" class="road_style_v2" />
        <input id="h_as_target" name="h_as_target" type="checkbox"><br />
        
        <input onclick="checkMark('a');" type="button" value="A" id="a_pressed" class="road_style_h1" />
        <input id="a_as_target" name="a_as_target" type="checkbox">
        <input onclick="checkMark('d');" type="button" value="D" id="d_pressed" class="road_style_h2" />
        <input id="d_as_target" name="d_as_target" type="checkbox"><br />
        
        <input onclick="checkMark('b');" type="button" value="B" id="b_pressed" class="road_style_h1" />
        <input id="b_as_target" name="b_as_target" type="checkbox" />
        <input onclick="checkMark('e');" type="button" value="E" id="e_pressed" class="road_style_h2" />
        <input id="e_as_target" name="e_as_target" type="checkbox"><br />
        
        <input onclick="checkMark('c');" type="button" value="C" id="c_pressed" class="road_style_h1" />
        <input id="c_as_target" name="c_as_target" type="checkbox">
        <input onclick="checkMark('f');" type="button" value="F" id="f_pressed" class="road_style_h2" />
        <input id="f_as_target" name="f_as_target" type="checkbox"><br />
    
        <div style="display: none;">
            a<input id="mark_a" name="mark_a" type="checkbox" value="A">
            b<input id="mark_b" name="mark_b" type="checkbox" value="B">
            c<input id="mark_c" name="mark_c" type="checkbox" value="C">
            d<input id="mark_d" name="mark_d" type="checkbox" value="D">
            e<input id="mark_e" name="mark_e" type="checkbox" value="E">
            f<input id="mark_f" name="mark_f" type="checkbox" value="F">
            g<input id="mark_g" name="mark_g" type="checkbox" value="G">
            h<input id="mark_h" name="mark_h" type="checkbox" value="H">
        </div>
    </div>
</div></div>   

<!--目标项-->
<!-- <div class="control-group form-row"><div>
    <div class="control-label"><label>目标项:</label></div>
    <div class="controls">
        <select id="target_road" name="target_road">
            <option value="A" selected="selected">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
        </select>
    </div>
</div></div>  -->

<!--路牌中心距-->
<div class="control-group form-row"><div>
    <div class="control-label"><label>路牌中心距:<br />(路牌中心与注视点的距离)</label></div>
    <div class="controls">
        <input name="eccent" class="vTextField" id="eccent" type="text" value="160">
    </div>
</div></div>

<!--初始角度-->
<div class="control-group form-row"><div>
    <div class="control-label"><label>初始角度(角度值):</label></div>
    <div class="controls">
        <input name="init_angle" class="vTextField" id="init_angle" type="text" value="0">
    </div>
</div></div> 


<br />
<input onclick="saveParams();" value="保存参数" class="btn btn-high btn-info" name="save_params" type="button" />    
&nbsp;&nbsp;<span id="set_result"></span>

</form>
</div>

{% endblock %}
