{% extends "admin/base_site.html" %}

{% block extrahead %}

<script type="text/javascript">
function toParamsSet(boardType) {
    if(boardType == 'single') {
        window.location.href="/admin/vision/single_board";    
    } else {
        window.location.href="/admin/vision/multi_board";
    }
}

</script>
{% endblock %}

<!-- CONTENT -->
{% block content %}
<div class="tab-content tab-content-main">
    
<br /><br /><br />
<input onclick="toParamsSet('single');" value="单路牌参数设置" class="btn btn-success" style="width: 180px; height: 50px; font-size: 20px;" type="button" />    
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input onclick="toParamsSet('multi');" value="多路牌参数设置" class="btn btn-success" style="width: 180px; height: 50px; font-size: 20px;" type="button" />    

</div>

{% endblock %}
