{% extends "theme_base.html" %}

{% block header_base %}
    <meta charset="utf-8" />
    <link rel="icon" href="{{STATIC_URL}}vision/img/logo_50.png" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}vision/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}vision/css/vision.css"/>
    
    <title>{% block title %}Vision Trail - 视觉测试{% endblock %}</title>
    
{% endblock %}

{% block body %}
<br /> <br />

{% block page_header %}
<div> 
<h2 class="page-header" align="center" style="">
    <span style="color: #3366cc;"> 视觉测试 </span>
</h2>
</div>
<br /> <br />

<div align="center" > 
<h2 class="page-header" style="">
    <img width="651" height="406" src="{{STATIC_URL}}vision/img/board_t.jpg" />
</h2>
</div>
{% endblock %}

{% endblock %}

<!-- FOOTER -->    
{% block footer %}
<div align="center" style="margin-top: 50px">
<span>©2015 视觉测试 &nbsp;&nbsp;
    <a href="##">关于</a>&nbsp;&nbsp;&nbsp;&nbsp;
</span> 
</div>
{% endblock %}